{% extends "base.html" %}

{% block title %}Dashboard - Portal dos Adolescentes{% endblock %}

{% block styles %}
<!-- Incluindo os estilos globais e específicos do dashboard -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Bem-vindo {{ user_name }} ao Portal dos Adolescentes</h1>

    <!-- Seção 1 -->
    <div class="section">
        <h2>Devocional Adolas</h2>
        <p>Acompanhe seu devocional diário e cresça espiritualmente!</p>
        <a href="/plano_leitura" class="button">Acessar Devocional</a>
    </div>

    <!-- Seção 2 -->
    <div class="section">
        <h2>Em Desenvolvimento</h2>
        <p>Estamos trabalhando em novos recursos incríveis para você!</p>
    </div>

    <!-- Seção 3 -->
    <div class="section">
        <h2>Em Desenvolvimento</h2>
        <p>Mais novidades em breve!</p>
    </div>
</div>
{% endblock %}